<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action="/">
      <input
        type="text"
        name="email"
        placeholder="Email"
      />
      <input
        type="text"
        name="password"
        placeholder="Password"
      />
      <button>Add Submit </button>
    </form>
  </body>
</html>
